.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 5px;

    .poster {
        border-radius: 5px;
    }

    .details {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .progress {
        position: absolute;
        margin-bottom: 40px;
        margin-left: 90px;
    }

    .favoriteButton {
        position: absolute;
        margin-bottom: 30px;
        margin-left: -70px;
    }
    .isFavorite{
        color:yellow;
    }
}