<div class="movies-wrapper" *ngIf="movies.length==0">
    <p style="font-size:30px">No movies found...</p>
</div>
<div class="movies-wrapper" *ngIf="movies.length>0">
    <div class="buttons">
        <button mat-raised-button (click)="sortAscending()">Vote ascending</button>
        <button mat-raised-button (click)="sortDescending()">Vote descending</button>
    </div>
    <mat-paginator [pageIndex]="0" [length]="movies.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
    <div class="title">{{title| titlecase}}</div>
    <div class="movies">
        <ng-container *ngFor="let movie of moviesSlice">
            <app-movie (deleteFavoriteEvent)="removeFromFavorite(movie.id, $event)" [movie]="movie"></app-movie>
        </ng-container>
    </div>
</div>